<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Index</title>
    <script type="text/javascript" src="/webjars/jquery/2.1.3/jquery.min.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        $(function () {
            var wsurl = /*[[${wsurl}]]*/ "ws://localhost:8080/ws/events";
            var ws = new WebSocket(wsurl);
            var appendEvent = function (event) {
                $("#result").append(event.message).append("<br>");
                window.localStorage.last = event.time;
            };
            ws.onopen = function () {
                var from = window.localStorage.getItem("last");
                from = from == null ? 0 : from;
                ws.send(JSON.stringify({
                    name: "receive",
                    arguments: {
                        from: from
                    }
                }));
            };
            ws.onclose = function () {
            };
            ws.onmessage = function (message) {
                var obj = JSON.parse(message.data);
                if (obj instanceof Array) {
                    for (var i in obj) {
                        appendEvent(obj[i]);
                    }
                } else {
                    appendEvent(obj);
                }
            };
            ws.onerror = function (event) {
                alert("接続に失敗しました。: " + JSON.stringify(event));
            };
            $("#form").submit(function () {
                var command = {
                    name: "receive"
                };
                ws.send(JSON.stringify(command));
                $("#message").val("")
                return false;
            });
        });
        /*]]>*/
    </script>
</head>
<body>
<div id="result"></div>
<form id="form" action="#">
    <input type="text" id="message"/>
    <input type="submit" value="送信"/>
</form>
</body>
</html>